/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: "LooneyTunes Tilt BT";
    src: url("../fonts/LooneyTunesBT-Tilt.woff2") format("woff2"),
        url("../fonts/LooneyTunesBT-Tilt.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
    background-color: #260306;
}

/* .black-and-white {
    filter: grayscale(100%);
} */

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container .modal{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    color: white;
    z-index: 9999;
    background-image: url("../img/curtain_left.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
.container .modal .modal-close{
    position: absolute;
    cursor: pointer;
    font-size: 2rem;
    top: 0;
    right: 10px;
}
.container .modal .modal-close:hover{
    color: #b3d4fc;
}
.container .modal .modal-content{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}
.container .modal.show{
    display: flex;
    height: 100%;
    width: 100%;
}
.container h1 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "LooneyTunes Tilt BT";
    font-weight: normal;
    font-style: normal;
    font-size: 5vw;
    color: white;
    text-align: center;
    overflow: hidden;
    z-index: 999;
}

.container h2.title {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "LooneyTunes Tilt BT";
    font-weight: normal;
    font-style: normal;
    font-size: 2vw;
    color: white;
    text-align: center;
    z-index: 999;
}

.container .stage {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    overflow: hidden;
    z-index: 100;
}

.container .left-curtain {
    position: absolute;
    left: 0;
    width: 50vw;
    height: 100vh;
    background-image: url("../img/curtain_left.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    margin-right: 2px;
}

.container .right-curtain {
    position: absolute;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-image: url("../img/curtain_right.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 2px;
}

.container .left-curtain .giphy-logo-left {
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 50%;
    height: auto;
}
.container .left-curtain .giphy-logo-left img {
    width: 50px;
    height: auto;
    /* padding: 10px 0 10px 20px;
    border-top: .5px solid #3B080D;
    border-bottom: .5px solid #3B080D;
    border-left: .5px solid #3B080D;
    background-color: #841922; */
    float: right;
}
.container .right-curtain .giphy-logo-right {
    position: absolute;
    float: left;
    bottom: 5%;
    width: 50%;
    height: auto;
}
.container .right-curtain .giphy-logo-right img {
    width: 50px;
    height: auto;
    /* padding: 10px 20px 10px 0;
    border-top: .5px solid #3B080D;
    border-bottom: .5px solid #3B080D;
    border-right: .5px solid #3B080D;
    background-color: #841922; */
    float: left;
}

.container .dancing-swag {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 650px;
    margin: 0 auto;
    z-index: 95;
}

.container .dancing-man-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    max-height: 90vh;
    width: 100%;
    height: auto;
    opacity: 0;
    overflow: hidden;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 100%;
    background-size: 101%;
    background-repeat: no-repeat;
    background-clip: content-box;
}

.container .dancing-man-wrapper-image {
    visibility: hidden;
}

.container .form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 600px;
    z-index: 999;
}

.container input,
.container button {
    background: #fff;
    border: 1px solid #000;
    color: #000;
    font-size: 1em;
    font-weight: 700;
    padding: 0.5em 1em;
    transition: all 0.3s ease;
    box-sizing: content-box;
}

.container input {
    width: 100%;
    height: 100%;
    padding: 10px;
    background: black;
    color: white;
    text-shadow: 0 0 0 #000;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    box-sizing: content-box;
    border: solid 0.5px darkred;
    display: none;
}
.container input:focus {
    outline: none;
}
.container button {
    font-weight: bold;
    font-style: normal;
    margin-top: 20px;
    border-radius: 15px;
}
.container button:hover {
    background: #841922;
    color: #fff;
    border: solid 0.5px white;
}

.container .wait-for-it {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    padding: 15px 15px;
    box-sizing: content-box;
    background: transparent;
    opacity: 1;
    font-family: "LooneyTunes Tilt BT";
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    color: white;
    text-align: center;
    z-index: 999;
}

.container .vinyl-record{
    display: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
    z-index: 5000;
    cursor: pointer;
}

.container .vinyl-record img{
    width: 100%;
    height: 100%;
}